@charset "UTF-8";
/* 基本リセット */
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@media (min-width: 1024px) {
  body,
  html {
    max-width: 1920px;
    margin: auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    scroll-behavior: smooth;
    scroll-padding-top: 115px;
    font-family: "Noto Sans JP", serif;
  }
  .main-visual {
    height: 800px;
    position: relative;
    background-image: url(header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  /* 切り替える部分 */
  .fade-section {
    position: absolute;
    height: 100%;
  }
  .person1 {
    top: 30%;
    left: 5%;
    width: 30%;
    height: 50%;
  }
  .person1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .person2 {
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
  }
  .person2 img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .fade-section img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    animation: anime 9s 0s infinite;
  }
  .fade-section img:nth-child(2) {
    animation-delay: 3s;
  }
  .fade-section img:nth-child(3) {
    animation-delay: 6s;
  }
  /* フェードアニメーション */
  @keyframes anime {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    z-index: 100;
    color: #fefeff;
    transition: background-color 0.3s ease; /* スムーズな背景色変更 */
  }
  .scrolled {
    background-color: rgba(255, 255, 255, 0.7); /* 薄い白色 */
    color: #949da5;
  }
  .global-nav {
    width: 100%;
  }
  .logo__area {
    width: 9%;
  }
  .headerLogoScroll.js-before {
    display: none;
  }
  .js-after {
    display: none;
  }
  .headerLogoScroll.js-after {
    display: block;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
  }
  .menu__list:not(:last-child) {
    margin-right: 30px;
  }
  .reserve {
    width: 20%;
    max-width: 200px;
    border: #fefeff 1px solid;
    padding: 1% 2%;
    text-align: center;
  }
  .transform {
    border: #949da5 1px solid;
  }
  .small {
    font-size: 0.8rem;
  }
  .text-section {
    position: absolute;
    bottom: 10%;
    left: 7%;
    z-index: 90;
    font-family: "Nunito", sans-serif;
    font-weight: normal;
    color: #fefeff;
  }
  .top-text {
    margin-bottom: 22px;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 2.5px;
  }
  .bottom-text {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
  }
  section {
    padding-top: 80px;
    padding-bottom: 150px;
  }
  .odd__section {
    background-image: url(section_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .inner {
    width: 80%;
    margin: auto;
  }
  .concept__inner {
    position: relative;
  }
  .section__title {
    position: absolute;
    z-index: 1;
    font-family: "Bellefair", serif;
    font-size: 100px;
    font-weight: normal;
    color: #949da5;
  }
  .odd {
    top: 0;
    left: 0;
  }
  .number {
    font-family: "Antic Didone", serif;
  }
  .title__area {
    height: 150px;
    position: relative;
  }
  .title__shadow {
    position: absolute;
    z-index: 0;
    font-family: "Bellefair", serif;
    font-size: 120px;
  }
  .shadow__odd {
    top: 16%;
    left: 0;
    color: rgba(212, 203, 192, 0.5);
  }
  .concept__text {
    width: 60%;
    min-width: 490px;
    max-width: 550px;
    padding: 50px;
    margin-top: 50px;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    color: #5c6071;
    line-height: 2;
    font-size: 1.1rem;
    font-family: "Noto Sans JP", serif;
  }
  .concept__image__area {
    position: relative;
  }
  .concept__image01 {
    width: 60%;
    max-width: 600px;
    min-width: 450px;
    transform: translate(60%, 60%);
    margin-bottom: 150px;
  }
  .concept__image02 {
    position: absolute;
    top: 220px;
    left: 10%;
    width: 40%;
    max-width: 350px;
    z-index: 3;
  }
  .even__section {
    background-color: #dad5d1;
  }
  .shadow__even {
    top: 16%;
    right: 0;
    color: rgba(255, 255, 255, 0.48);
  }
  .even {
    top: 0;
    right: 0;
  }
  .menu__image__area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .center__image {
    width: 45%;
    max-width: 500px;
  }
  .left__image {
    width: 45%;
    max-width: 400px;
    position: absolute;
    left: 0;
    bottom: -400px;
  }
  .right__image {
    max-width: 400px;
    position: absolute;
    width: 45%;
    right: 0;
    top: -90px;
  }
  .menu__image {
    width: 100%;
    height: auto;
  }
  .detail__button {
    display: inline-block;
    width: 85px;
    text-align: center;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
  }
  .detail__button::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 20%;
    width: 65%;
    height: 5px;
    border-right: 2px solid #fff;
    border-bottom: 1px solid #fff;
    transform: skew(45deg);
    transition: 0.3s;
  }
  .detail__button:hover::after {
    right: 10px;
    width: 75%;
  }
  .menu {
    position: relative;
    top: -42px;
    left: 78%;
  }
  .tabs {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    list-style: none;
    color: #5c6071;
  }
  .tab {
    position: relative;
    margin-right: 20px;
    padding: 10px;
    font-weight: bold;
    transition: all 1s ease;
  }
  .tab::after {
    content: "";
    position: absolute;
    bottom: -5px; /* テキストからの距離 */
    left: 50%; /* 初期位置 */
    width: 0; /* 初期の幅 */
    height: 4px; /* 下線の高さ */
    background-color: #555;
    border-radius: 3px; /* 角丸 */
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%); /* 中央揃え */
  }
  .tab.active::after {
    width: 30px; /* 下線の長さ */
  }
  .tab-content {
    display: none;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    margin-top: 30px;
    padding: 0 10%;
  }
  .tab-content.active {
    display: grid;
    animation: panel-show 0.7s ease-in-out forwards;
  }
  /* パネル切り替えのアニメーション */
  @keyframes panel-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .style-image {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
  }
  .style-image:hover {
    transform: scale(1.03); /* 拡大 */
    cursor: pointer;
  }
  .view__link {
    display: block;
    width: 20%;
    margin: auto;
    margin-top: 55px;
    padding: 10px 0;
    text-align: center;
    border: #5c6071 1px solid;
    text-decoration: none;
    color: #5c6071;
  }
  .view__link:hover {
    background-color: #5c6071;
    color: #fefeff;
    transition: all 0.4s ease;
  }
  .swiper {
    max-width: 1000px;
    padding: 70px;
    margin-top: 70px;
    background-image: url(section_bg.jpg);
  }
  .swiper-wrapper {
    display: flex;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ddd;
    overflow: hidden;
  }
  .column__image {
    width: 100%;
  }
  .content {
    padding: 20px;
    text-align: center;
    background-color: #949da5;
    color: white;
    font-size: 0.9rem;
  }
  .content .title {
    margin-top: 10px;
    font-size: 0.8rem;
  }
  /* カルーセルのボタン */
  .button__area {
    display: block;
    position: relative;
    margin-top: 40px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .swiper-button-next .active,
  .swiper-button-prev .active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
  }
  .swiper-button-next {
    top: 0;
    right: 10px;
  }
  .swiper-button-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #bbb5b0;
    border-radius: 50%;
  }
  .swiper-button-next::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 16px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    border-width: 7px 10px;
    border-left-color: #bbb5b0;
    border-right: 0;
    transform: translate(10%, 10%);
  }
  .swiper-button-prev {
    top: 0;
    left: calc(100% - 85px);
  }
  .swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #bbb5b0;
    border-radius: 50%;
  }
  .swiper-button-prev::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 16px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    border-width: 7px 10px;
    border-right-color: #bbb5b0;
    border-left: 0;
    transform: translate(-20%, 10%);
  }
  .category__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
  }
  .title {
    text-align: left;
  }
  .category {
    width: 25%;
    background-color: #fefeff;
    padding: 2px 10px;
    color: #949da5;
  }
  .staff-swiper {
    background-image: none;
    margin-top: 30px;
    padding: 30px 70px;
  }
  .staff-swiper .image-container {
    position: relative;
    cursor: pointer;
  }
  .staff-swiper .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22242f;
    opacity: 0.6; /* フィルターの透明度 */
    transition: opacity 0.5s ease;
    z-index: 1;
  }
  .staff-swiper .image-container:hover::before {
    opacity: 0; /* フィルターを解除 */
  }
  .staff-swiper .image-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.5s ease;
  }
  .staff__button__area {
    display: block;
    position: relative;
    margin-top: 40px;
  }
  .staff__button__area .swiper-button-next,
  .staff__button__area .swiper-button-prev {
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .staff__button__area .swiper-button-next {
    top: 0;
    right: 10px;
  }
  .staff__button__area .swiper-button-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  .staff__button__area .swiper-button-next::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 16px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    border-width: 7px 10px;
    border-left-color: #ffffff;
    border-right: 0;
    transform: translate(10%, 10%);
  }
  .staff__button__area .swiper-button-prev {
    top: 0;
    left: calc(100% - 85px);
  }
  .staff__button__area .swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  .staff__button__area .swiper-button-prev::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 16px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    border-width: 7px 10px;
    border-right-color: #ffffff;
    border-left: 0;
    transform: translate(-20%, 10%);
  }
  .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #faf7f4;
    font-size: 18px;
    z-index: 2;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: "Noto Sans JP", serif;
  }
  .position {
    font-size: 14px;
  }
  /* カラーフィルターを擬似要素で作成 */
  .salon__section {
    margin-top: -430px;
  }
  .salon {
    margin-top: 210px;
  }
  .salon__list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-image: url(section_bg.jpg);
    padding: 80px;
    list-style: none;
  }
  .salon__item {
    width: 45%;
  }
  .salon__image__box {
    position: relative;
    cursor: pointer;
  }
  .salon__image__box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22242f;
    opacity: 0.6; /* フィルターの透明度 */
    transition: opacity 0.5s ease;
    z-index: 1;
  }
  .salon__image__box:hover::before {
    opacity: 0; /* フィルターを解除 */
  }
  .salon__image__box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.5s ease;
  }
  .shop {
    position: absolute;
    bottom: 2%;
    right: 0;
    z-index: 2;
  }
  .footer {
    background-image: url(header_bg.jpg);
    background-repeat: round;
  }
  .footer__menu {
    display: flex;
    justify-content: space-between;
    padding: 4rem 8rem;
    color: #fefeff;
  }
  .footer__logo {
    width: 14%;
  }
  .fa-instagram::before {
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
  }
  .fa-twitter::before {
    content: "\f099";
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
  }
  .fa-youtube::before {
    content: "\f167";
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
  }
  .sns-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    list-style: none;
  }
  .fab {
    color: #fefeff;
  }
  .sp-only {
    display: none;
  }
}
@media (max-width: 1023px) {
  body,
  html {
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    font-family: "Noto Sans JP", serif;
  }
  .main-visual {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  /* 切り替える部分 */
  .fade-section {
    position: absolute;
    height: 100%;
  }
  .person1 {
    bottom: 0;
    left: 0;
    width: 45%;
    height: 33%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 350px;
  }
  .person1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .person2 {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .person2 img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .fade-section img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    animation: anime 9s 0s infinite;
  }
  .fade-section img:nth-child(2) {
    animation-delay: 3s;
  }
  .fade-section img:nth-child(3) {
    animation-delay: 6s;
  }
  /* フェードアニメーション */
  @keyframes anime {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: #fefeff;
    transition: background-color 0.3s ease; /* スムーズな背景色変更 */
  }
  .header__inner {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .scrolled {
    background-color: rgba(255, 255, 255, 0.7); /* 薄い白色 */
    color: #949da5;
  }
  .logo__area {
    width: 15%;
  }
  .headerLogoScroll.js-before {
    display: none;
  }
  .js-after {
    display: none;
  }
  .headerLogoScroll.js-after {
    display: block;
  }
  .hamburger {
    /* ボタンの配置位置  */
    position: fixed;
    right: 16px;
    /* ボタンの大きさ  */
    width: 50px;
    height: 50px;
    /* バーガーの線をボタン範囲の中心に配置 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 最前面に */
    z-index: 10;
  }
  .hamburger span {
    display: inline-block;
    height: 1px;
    background: #fefeff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  .hamburger span:first-child {
    top: 20px;
    width: 55%;
  }
  .hamburger span:last-child {
    top: 30px;
    left: 22px;
    width: 40%;
  }
  .hamburger.active span:nth-child(1) {
    top: 25px;
    left: 13px;
    transform: rotate(45deg);
    background: #fefeff;
  }
  .hamburger.active span:nth-child(2) {
    top: 25px;
    left: 13px;
    width: 55%;
    transform: rotate(-45deg);
    background: #fefeff;
  }
  .hamburger__line.change {
    background: #949da5;
  }
  .nav__items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    /* メニューを縦に */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #efefef;
    background-image: url(header_bg.jpg);
    transition: 0.3s;
  }
  .nav__items.open {
    /*   transition: visibility 1s ease-in; */
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
  }
  .menu__list {
    width: 100%;
    height: 10%;
    /* メニューテキスト位置をリスト内中心に */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__list:not(:last-child) {
    margin-right: 15px;
  }
  .reserve {
    width: 60%;
    margin: 0 auto;
    max-width: 250px;
    border: #fefeff 1px solid;
    padding: 1% 2%;
    text-align: center;
  }
  .small {
    font-size: 0.8rem;
  }
  .text-section {
    position: absolute;
    bottom: 10%;
    left: 7%;
    z-index: 90;
    font-family: "Nunito", sans-serif;
    font-weight: normal;
    color: #fefeff;
  }
  .top-text {
    margin-bottom: 22px;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 2.5px;
  }
  .bottom-text {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 2px;
  }
  section {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .odd__section {
    background-image: url(section_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .inner {
    padding: 0 2%;
    max-width: 550px;
    margin: auto;
  }
  .concept__inner {
    position: relative;
  }
  .section__title {
    position: absolute;
    z-index: 1;
    font-family: "Bellefair", serif;
    font-size: 3.3rem;
    font-weight: normal;
    color: #949da5;
  }
  .odd {
    top: 0;
    left: 0;
  }
  .number {
    font-family: "Antic Didone", serif;
  }
  .title__area {
    height: 100px;
    position: relative;
    margin-bottom: 35px;
  }
  .title__shadow {
    position: absolute;
    z-index: 0;
    font-family: "Bellefair", serif;
    font-size: 3.7rem;
  }
  .shadow__odd {
    top: 16%;
    left: 0;
    color: rgba(212, 203, 192, 0.5);
  }
  .concept__text {
    width: 95%;
    min-height: 200px;
    max-width: 390px;
    padding: 6%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.9);
    color: #5c6071;
    line-height: 2;
    font-size: 0.95rem;
    font-family: "Noto Sans JP", serif;
    font-weight: 300;
    transform: translate(-50%, -50%);
  }
  .concept__image__area {
    position: relative;
    background-image: url(27406019_m.jpg);
    height: 300px;
    background-size: cover;
  }
  .concept__image01 {
    width: 70%;
    max-width: 600px;
    margin-top: -20px;
  }
  .concept__image02 {
    position: absolute;
    top: 220px;
    left: 10%;
    width: 40%;
    max-width: 350px;
    z-index: 3;
  }
  .even__section {
    background-color: #dad5d1;
  }
  .shadow__even {
    top: 16%;
    right: 0;
    color: rgba(255, 255, 255, 0.48);
  }
  .even {
    top: 0;
    right: 0;
  }
  .menu__image__area {
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .center__image {
    width: 45%;
    max-width: 500px;
  }
  .left__image {
    width: 47%;
    max-width: 400px;
    position: absolute;
    left: 0;
    bottom: -70px;
  }
  .right__image {
    max-width: 400px;
    position: absolute;
    width: 50%;
    right: 0;
    top: -50px;
  }
  .menu__image {
    width: 100%;
    height: auto;
  }
  .detail__button {
    display: inline-block;
    width: 70px;
    text-align: center;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.45rem;
  }
  .detail__button::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 25%;
    width: 54%;
    height: 5px;
    border-right: 2px solid #fff;
    border-bottom: 1px solid #fff;
    transform: skew(45deg);
    transition: 0.3s;
  }
  .detail__button:hover::after {
    right: 10px;
    width: 75%;
  }
  .menu {
    position: relative;
    top: -25px;
    left: 64%;
  }
  .tabs {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    list-style: none;
    color: #5c6071;
  }
  .tab {
    position: relative;
    margin-right: 20px;
    padding: 10px;
    font-weight: bold;
    transition: all 1s ease;
  }
  .tab::after {
    content: "";
    position: absolute;
    bottom: -5px; /* テキストからの距離 */
    left: 50%; /* 初期位置 */
    width: 0; /* 初期の幅 */
    height: 4px; /* 下線の高さ */
    background-color: #555;
    border-radius: 3px; /* 角丸 */
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%); /* 中央揃え */
  }
  .tab.active::after {
    width: 30px; /* 下線の長さ */
  }
  .tab-content {
    display: none;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    margin-top: 30px;
    padding: 0 10%;
  }
  .tab-content.active {
    display: grid;
    animation: panel-show 0.7s ease-in-out forwards;
  }
  /* パネル切り替えのアニメーション */
  @keyframes panel-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .style-image {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
  }
  .style-image:hover {
    transform: scale(1.03); /* 拡大 */
    cursor: pointer;
  }
  .view__link {
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 55px;
    padding: 10px 0;
    text-align: center;
    border: #5c6071 1px solid;
    text-decoration: none;
    color: #5c6071;
  }
  .view__link:hover {
    background-color: #5c6071;
    color: #fefeff;
    transition: all 0.4s ease;
  }
  .swiper {
    max-width: 1000px;
    padding: 70px;
    background-image: url(section_bg.jpg);
  }
  .swiper-wrapper {
    display: flex;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ddd;
    overflow: hidden;
  }
  .column__image {
    width: 100%;
  }
  .content {
    padding: 5%;
    text-align: center;
    background-color: #949da5;
    color: white;
    font-size: 0.9rem;
  }
  .content .title {
    margin-top: 10px;
    font-size: 0.8rem;
  }
  /* カルーセルのボタン */
  .button__area {
    display: block;
    position: relative;
    margin-top: 40px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .swiper-button-next .active,
  .swiper-button-prev .active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
  }
  .swiper-button-next {
    top: 0;
    right: 10px;
  }
  .swiper-button-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #bbb5b0;
    border-radius: 50%;
  }
  .swiper-button-next::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 16px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    border-width: 7px 10px;
    border-left-color: #bbb5b0;
    border-right: 0;
    transform: translate(10%, 10%);
  }
  .swiper-button-prev {
    top: 0;
    left: calc(100% - 85px);
  }
  .swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #bbb5b0;
    border-radius: 50%;
  }
  .swiper-button-prev::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 16px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    border-width: 7px 10px;
    border-right-color: #bbb5b0;
    border-left: 0;
    transform: translate(-20%, 10%);
  }
  .category__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
  }
  .title {
    text-align: left;
  }
  .category {
    width: 30%;
    background-color: #fefeff;
    padding: 2px 10px;
    color: #949da5;
  }
  .staff-swiper {
    background-image: none;
    margin-top: 30px;
    padding: 30px 70px;
  }
  .staff-swiper .image-container {
    position: relative;
    cursor: pointer;
  }
  .staff-swiper .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22242f;
    opacity: 0.6; /* フィルターの透明度 */
    transition: opacity 0.5s ease;
    z-index: 1;
  }
  .staff-swiper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.5s ease;
  }
  .staff-swiper .swiper-slide-active .image-container::before {
    opacity: 0; /* グレーアウトを解除 */
  }
  .staff__button__area {
    display: block;
    position: relative;
    margin-top: 40px;
  }
  .staff__button__area .swiper-button-next,
  .staff__button__area .swiper-button-prev {
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .staff__button__area .swiper-button-next {
    top: 0;
    right: 10px;
  }
  .staff__button__area .swiper-button-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  .staff__button__area .swiper-button-next::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 16px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    border-width: 7px 10px;
    border-left-color: #ffffff;
    border-right: 0;
    transform: translate(10%, 10%);
  }
  .staff__button__area .swiper-button-prev {
    top: 0;
    left: calc(100% - 85px);
  }
  .staff__button__area .swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  .staff__button__area .swiper-button-prev::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 16px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    border-width: 7px 10px;
    border-right-color: #ffffff;
    border-left: 0;
    transform: translate(-20%, 10%);
  }
  .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #faf7f4;
    font-size: 18px;
    z-index: 2;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: "Noto Sans JP", serif;
  }
  .position {
    font-size: 14px;
  }
  .salon__section {
    margin-top: -300px;
  }
  .salon {
    margin-top: 210px;
  }
  .salon__list {
    margin-top: 50px;
    background-image: url(section_bg.jpg);
    padding: 30px;
    list-style: none;
  }
  .salon__item:first-child {
    margin-bottom: 20px;
  }
  .salon__image__box {
    position: relative;
    cursor: pointer;
  }
  .salon__image__box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22242f;
    opacity: 0.6; /* フィルターの透明度 */
    transition: opacity 0.5s ease;
    z-index: 1;
  }
  .salon__image__box:hover::before {
    opacity: 0; /* フィルターを解除 */
  }
  .salon__image__box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.5s ease;
  }
  .shop {
    position: absolute;
    bottom: 2%;
    right: 0;
    z-index: 2;
  }
  .footer {
    background-image: url(header_bg.jpg);
    background-repeat: round;
  }
  .footer__menu {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    color: #fefeff;
  }
  .footer__logo {
    width: 25%;
    max-width: 100px;
  }
  .footer__nav {
    display: none;
  }
  .fa-instagram::before {
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
  }
  .fa-twitter::before {
    content: "\f099";
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
  }
  .fa-youtube::before {
    content: "\f167";
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
  }
  .sns-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .fab {
    color: #fefeff;
  }
  .pc-only {
    display: none;
  }
}/*# sourceMappingURL=site01.css.map */